* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body > * {
  font-family: "Montserrat";
  text-align: center;
}

a {
  text-decoration: none;
  float: left;
  color: #fff;
}

a:hover {
  text-decoration: underline;
}

#hdr {
  background-color: #1e73be;
  color: #fff;
  padding: 38px 4vw 2px 3vw;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  box-shadow: 0px 4px 10px #888888;
  transition: padding .2s;
  z-index: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  #hdr {
    padding: 38px 4vw 38px 3vw;
  }
}

#hdr .logo1 {
  border: px solid orange;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  #hdr .logo1 {
    width: initial;
  }
}

#hdr .logo1 > * {
  display: inline-block;
  vertical-align: bottom;
}

#hdr .logo1 img {
  border: px solid purple;
  width: calc(40px + .5vw);
  margin: .7vw .7vw .3vw .7vw;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
  transition: width .2s;
}

@media screen and (min-width: 768px) {
  #hdr .logo1 img {
    width: calc(50px + .8vw);
  }
}

#hdr .logo1 hgroup {
  border: px solid red;
}

#hdr .logo1 hgroup > * {
  text-align: center;
  font-family: "Mali";
  line-height: 1.1;
  transition: all .2s;
}

#hdr .logo1 hgroup h2 {
  font-size: 38px;
  font-weight: 600;
  color: #053353;
  text-shadow: none;
  transition: all .2s;
}

@media screen and (min-width: 768px) {
  #hdr .logo1 hgroup h2 {
    font-size: 45px;
    text-shadow: 0px 0px 4px #fff;
  }
}

#hdr .logo1 hgroup h3 {
  font-size: 20px;
  font-weight: 900;
  color: #ef3a40;
  letter-spacing: -1px;
  transition: all .2s;
}

@media screen and (min-width: 768px) {
  #hdr .logo1 hgroup h3 {
    font-size: 24px;
    font-weight: 500;
  }
}

#hdr nav {
  border: px solid orange;
  font-weight: 600;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0 0 0;
}

@media screen and (min-width: 768px) {
  #hdr nav {
    width: initial;
    padding: 0px;
  }
}

#hdr nav a {
  border: px solid red;
  padding: 10px 1.8vw;
  font-size: calc(10px + .4vw);
}

main {
  padding: 164px 0 30px 0;
  font-family: "Montserrat";
}

main .mSec1 {
  border: px dotted #aaa;
  display: inline-block;
  font-size: 28px;
  font-weight: 900;
  color: #053353;
  padding: 132px 0;
  line-height: 2;
}

main .para1 {
  border: px solid red;
  background-image: url(../img/img2.jpg);
  width: 100%;
  height: 300px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
  z-index: 0;
}

main .mSec2 {
  border: px dotted #aaa;
  display: flex;
  justify-content: center;
  font-size: calc(18px + .5vw);
  font-weight: 900;
  color: #053353;
  padding: 128px 0;
  line-height: 1.8;
  text-align: left;
}

main .mSec2 ul {
  border: px solid red;
  padding: 0px 3vw;
}

main .mSec2 ul li {
  list-style-type: disc;
}

main .para2 {
  border: px solid red;
  background-image: url(../img/img3.jpg);
  width: 100%;
  height: 400px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
  z-index: 0;
}
